@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color: #b1b1b1;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px 0;
}

.center{
  background-color: red;
}

.center h3{
  font-size: ;
}